/* style.css */

/* Colors inspired by Red Dead Redemption 2 image */
:root {
  --primary-color: #d32f2f; /* Red from the image */
  --secondary-color: #fbc02d; /* Yellow from the image */
  --text-color: #141313;
  --header-footer-bg: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  --canvas-border-color: #000000;
}

/* General Styles */
body {
  background: linear-gradient(to bottom, #d32f2f, #fbc02d);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  height: 100%;
  justify-content: space-between;
  padding-top: 3rem;
}

h1,
h2, h3 {
  color: var(--text-color);
  font-weight: 600;
}

h4{
  color: var(--text-color);
  font-weight: 600;
}

a{
  color: #03152f;
}

input{
  border-radius: 0.6rem;
}

button{
  border-radius: 1rem;
}

#text-history {
  margin-bottom: 20px;
  text-align: center;
}

#turn-info {
  margin-bottom: 10px;
  text-align: center;
}

#canvas-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

canvas {
  border: 2px solid var(--canvas-border-color);
  background-color: #ffffff;
  width: 80%;
  height: 80%;
}

.hidden {
  display: none;
}

#sentence-input {
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  border: 2px solid var(--secondary-color);
  background-color: var(--header-footer-bg);
  color: var(--secondary-color);
  font-size: 1rem;
  font-style: italic;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

#previous-text-container,
#previous-canvas-container,
#current-canvas-container {
  margin: 20px 0;
  text-align: center;
}
.canvas-container {
  width: 100%;
}
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 1rem;
}

button:disabled {
  background-color: #555;
}

button:hover:enabled {
  background-color: var(--secondary-color);
}

.drawing-blocks {
  height: 60%;
  width: 60%;
}

div#current-canvas-container,
div#previous-canvas-container {
  height: 100%;
}
